# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#ENV
.env.development
.env.production

// if cloudflare goes down : cloudflared tunnel --url http://127.0.0.1:3001
// npm run build - rebuild dist
// npm run deploy - send dist to github
// node server.js - run node server